/* Colors */
:root {
  --bg-header: #255ee9;
  --bg-section: #f6f6f6;
  --bg-primary: #7289da;
}

/* #region utilities */
ul {
  list-style: none;
}

.bg-grey {
  background-color: var(--bg-section);
}

.bg-purple {
  color: var(--bg-primary);
}
/* #endregion utilities */

/* #region Header */
header {
  background-color: var(--bg-header);
}

.navbar a:hover {
  text-decoration: underline;
}
/* #endregion Header */

/* #region Main */

/* jumbotron */
.jumbotron {
  height: 680px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumbotron p {
  font-size: 20px;
}

.jumbotron > .container {
  width: 40%;
}

/* Section */
section {
  padding: 5%;
}

section h2 {
  font-weight: bold;
  font-size: 50px;
}

section p {
  margin-top: 3rem;
  font-size: 1.2rem;
}

.ready-to button {
  margin-top: 30px;
}

.btn-discord {
  background-color: var(--bg-primary);
  color: #ffffff;
}

.btn-discord:hover {
  background-color: var(--bg-primary);
  color: #ffffff;
}

/* #endregion Main */

/* #region footer */
footer {
  background-color: #23272a;
}

footer .container {
  padding-top: 40px;
}

footer li:hover {
  cursor: pointer;
}

.flag {
  width: 5%;
}

.social {
  padding: 0;
  width: 30%;
}

.col-2 li {
  margin-bottom: 15px;
  font-size: 1rem;
}

.line {
  border-top: 1px solid var(--bg-primary);
}
/* #endregion footer */
